Repository datum-cloud/datum-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, operator, codegen

.github/labeler.yml:

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']

# Add 'bug' label to any PR where the head branch name starts with `bug` or has a `bug` section in the name
bug:
  - head-branch: ['^bug', 'bug']
 
# Add 'enhancement' label to any PR where the head branch name starts with `enhancement` or has a `enhancement` section in the name
enhancement:
  - head-branch: ['^enhancement', 'enhancement']
  
# Add 'breaking-change' label to any PR where the head branch name starts with `breaking-change` or has a `breaking-change` section in the name
breaking-change:
  - head-branch: ['^breaking-change', 'breaking-change']

ci:
- changed-files:
  - any-glob-to-any-file: .github/**
  - any-glob-to-any-file: .buildkite/**

docs:
- changed-files:
  - any-glob-to-any-file: apps/docs/**
  - any-glob-to-any-file: README.md

operator:
- changed-files:
  - any-glob-to-any-file: apps/operator/**

codegen:
- changed-files:
  - any-glob-to-any-file: codegen/**

eslint for tailwind config
  bun.lockb
  packages/tailwind-config/.eslintrc.js
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
Labels: none

fix warnings
  apps/docs/src/app/page.tsx
  apps/operator/next.config.js
  apps/operator/src/app/(auth)/login/page.tsx
  apps/operator/src/app/(auth)/signup/page.tsx
  apps/operator/src/app/(auth)/verify/page.tsx
  apps/operator/src/components/page-title.tsx
  apps/operator/src/lib/auth.ts
  packages/ui/src/button.tsx
  packages/ui/tsup.config.ts
  pages/api/sentry-example-api.js
  pages/sentry-example-page.jsx
Labels: docs, operator

add dotenv for local env access
  bun.lockb
  package.json
Labels: none

fix import errors
  apps/operator/src/app/(auth)/login/page.tsx
  apps/operator/src/lib/auth.ts
Labels: operator

reconfigure ports
  apps/docs/README.md
  apps/docs/package.json
  apps/operator/README.md
  apps/operator/package.json
  apps/operator/src/app/fonts/fonts.ts
  apps/operator/src/app/layout.tsx
  apps/operator/src/fonts/FAMAimeTRIAL-ExtraBold.woff2
  apps/operator/src/fonts/FTRegolaNeueTrial-Medium.woff2
  apps/operator/src/fonts/FTRegolaNeueTrial-Regular.woff2
  apps/operator/src/fonts/FTRegolaNeueTrial-Semibold.woff2
  apps/operator/src/fonts/KareliaWeb-Medium.woff2
  apps/operator/src/fonts/KareliaWeb-Regular.woff2
  apps/operator/src/fonts/index.ts
  apps/operator/tsconfig.json
  bun.lockb
  packages/config-typescript/nextjs.json
  packages/tailwind-config/package.json
  packages/ui/package.json
Labels: docs, operator

remove ui prefix
  apps/operator/src/app/(auth)/login/page.tsx
  apps/operator/src/app/(auth)/signup/page.tsx
  apps/operator/src/components/avatar.tsx
  packages/ui/src/button.tsx
  packages/ui/src/drawer.tsx
  packages/ui/src/global-search.tsx
  packages/ui/src/logo/logo.styles.tsx
  packages/ui/src/logo/logo.tsx
  packages/ui/src/message-box.tsx
  packages/ui/tailwind.config.ts
Labels: operator
